<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="httpGatewayConfiguration" type="Orders_Client.Adapters.Configuration.HttpGatewayConfiguration, Orders-Client" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="true" usesystemdefault="false" proxyaddress="http://127.0.0.1:8888"/>
    </defaultProxy>
  </system.net>
  <httpGatewayConfiguration>
    <orderService uri="http://127.0.0.1:3476/" Timeout="5000" />
  </httpGatewayConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>